<div class="postDiv">
  <div class="title">
    <a href="/post/{{id}}" target="">{{title}} by {{user.username}} on {{format_date created_at}}</a>

  </div>
  <div class="post-body">
    <span>{{post_body}}</span>
  </div>
  <div class="meta comments-body">
    {{vote_count}} {{format_plural "vote" vote_count}} by {{user.username}} on {{format_date created_at}}
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</div>